.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    margin: 16px;
    background-color: #ebebeb78;
}

.productEmoji{
    width: 100%;
    border-radius: 8px;
    background: #f4fbf6;
    border: 1px solid #dce4df;
    display: grid;
    place-content: center;
    font-size: 3rem;
    padding: 0.4rem 0;
}

.productName{
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}

.productPrice{
    font-size: 1.5rem;
    color: #1f352b;
    margin-bottom: 16px;
    font-weight: 600;

}

.addToCartButton{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.addToCartButton:hover{
    background-color: #218838;
}